<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\internal-nlog.txt">

	<!-- Define logging targets -->
	<targets>
		<target xsi:type="File" name="fileTarget" fileName="logs/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${logger} ${callsite} - ${message} ${exception:format=ToString}"/>
	</targets>

	<!-- Define logging rules -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="fileTarget" />
	</rules>
</nlog>